<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>youthrive</title>
</head>
<body>
   
    <h1>ABOUT US</h1>
    <H3>WOMANTECHY BY DEEX MUYE</H3>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nesciunt ducimus officiis sunt quas eligendi optio, voluptate nobis delectus ab, vel enim magnam aliquid sequi, quisquam rem esse illo ullam?</H4>
        <H3>How i got my first job</H3>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eius commodi odit doloribus minima obcaecati neque adipisci recusandae voluptatem nesciunt rerum vel eveniet odio totam pariatur ipsam, sunt veniam culpa.</h5>
        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quas et ea esse nemo? Cum minus, quisquam amet ipsa ex ducimus laudantium nostrum? Maxime deleniti nulla ipsum impedit, rerum tenetur.</h5>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nesciunt sapiente sed incidunt, obcaecati totam eos, beatae dolor ad similique officiis itaque esse id consectetur nisi a, atque enim quasi!</h5>
    <H3>How i handle two jobs</H3>
    <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, labore provident iste, vitae molestias excepturi minus laudantium pariatur recusandae perferendis architecto voluptate alias officia. Dolorum, soluta aspernatur. Excepturi, iusto dolores.</h6>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati veniam nemo, iste harum omnis ullam cupiditate illo rerum? Provident, magnam inventore consequuntur cumque voluptatum voluptates exercitationem. Cupiditate quod voluptatibus molestiae!</h5>
    <h5>&copy;Womantechy_by_Deexmuye 2024</h5>
    </body>
</html>