<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="figma.css">
    <title>portfolio</title>
</head>
<body>
    <main>
        <section class="section">
            <nav>
                <ul>
                    <li>
                        <img src="./img/Group.svg" alt="">
                    </li>
                    <li><a href="">About Me</a></li>
                    <li><a href="">Skills</a></li>
                    <li><a href="">portfolio</a></li>
                 <div class="contact"><li><a href="">Contact Me</a></li></div>
                </ul>
            </nav>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>