<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>womantechy blog</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="main-container">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">
              <img src="images/womantechy.jpg" alt="" style="height: 60px; width: 60px;">
            </a>
            <ul class="nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="toggle-menu">&#9776;</div>
        </div>
    </nav>
    <h1 style="color: rgb(6, 7, 7); padding: 20px; margin: 30px;text-align: center;">MY GALLERY</h1>
    <h3>Available Images</h3>
    <div class="main-content">
      <div class="gallery">
        <img src="images/git.jpg" alt="">
      </div>
      <div class="gallery">
        <img src="images/git.jpg" alt="">
      </div>
      <div class="gallery">
        <img src="images/git.jpg" alt="">
      </div>
      <div class="gallery">
        <img src="images/git.jpg" alt="">
      </div>
    </div>
   </div>
   <footer>
    <div class="container">
        <p>&copy; 2024 Womantechy by Deex Muye Enterprise</p>
    </div>
</footer>
  </body>
  </html>
  